@font-face {
    font-family: "Lucida Caligraphy";
    src: url(~static/LCALLIG.ttf) format("truetype");
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}
